<nav class="sticky-top nav-back-color shadow pb-3 pt-3">
    <div class="container-fluid">
      <div class="row d-flex justify-content-around align-items-center">
        <div class="col-md-4 text-center" id="a-nav-main">
          <a href="/fighter" class="a-nav-text">
            <img src="/img/Street_Fighter_old_logo.png" class="img-logo" alt="Logo"/>
        </a>
        </div>
        <div class="col-md-4 d-flex justify-content-around">
          <a class="a-nav" href="/newFighter">New Challenger</a>
        </div>
      </div>
    </div>
  </nav>