<div id="myCarousel" class="carousel slide mb-6 border-bottom border-warning" data-bs-ride="carousel" bis_skin_checked="1">
    <div class="carousel-indicators" bis_skin_checked="1">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="bg-white" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active bg-white" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="bg-white"></button>
    </div>
    <div class="carousel-inner" bis_skin_checked="1">
      <div class="carousel-item" bis_skin_checked="1">
        <img src="/img/ban2.webp" class="bd-placeholder-img" height="auto"  width="100%"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"  style="opacity: 0.5;">
        <div class="container" bis_skin_checked="1">
          <div class="carousel-caption text-start" bis_skin_checked="1">
            <h1 class="text-white">¡Adentrate en el mundo de Street Fighter!</h1>
            <p class="fs-5 text-white">¿Por que no inicias buscando a tu personaje favorito?</p>
          </div>
        </div>
      </div>
      <div class="carousel-item active" bis_skin_checked="1">
        <img src="/img/ban1.jpg" class="bd-placeholder-img" height="auto" width="100%"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"  style="opacity: 0.5;">
        <div class="container" bis_skin_checked="1">
          <div class="carousel-caption" bis_skin_checked="1">
            <h1 class="text-white">¡Bienvenido a la Street Fighter API!</h1>
            <p class="text-white fs-5">Aqui podras conocer a los miticos personajes de la saga y una que otra sorpresa</p>
          </div>
        </div>
      </div>
      <div class="carousel-item" bis_skin_checked="1">
        <img src="/img/ban3.jpeg" class="bd-placeholder-img" height="auto" width="100%"aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style="opacity: 0.5;">
        <div class="container" bis_skin_checked="1">
          <div class="carousel-caption text-end" bis_skin_checked="1">
            <h1 class="text-white">¡Grandes videojuegos, grandes historias y grandes personajes!</h1>
            <p class="fs-5 text-white">Siempre podras encontrar una historia entretenida e interesante acompañado de estos miticos personajes.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>